*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
}
hero-section{
    --font-color: white;
    --btnOnebg: #CFEB00;
}
img{
    display: none;
}
@media(min-width:768px){
    hero-section{
        --widthHero: 85%
    }
    img{
        display: block;
        position: absolute;
        bottom: -45%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
}
@media(min-width:1024px){
    hero-section{
        --widthHero: 75%
    }
}
@media(min-width:1024px){
    hero-section{
        --widthHero: 700px
    }
    footer-bar{
        --footer-width: 1000px
    }
    img{
        bottom: -35%;
    }
    background-square{
        --altura-container: 700px;
    }
}